# {{ ansible_managed }}
# /etc/snapper/configs/root

SUBVOLUME="/"
FSTYPE="btrfs"
QGROUP=""
SPACE_LIMIT="0.5"
FREE_LIMIT="0.2"

ALLOW_USERS="{{ rabble_user }}"
ALLOW_GROUPS=""
SYNC_ACL="yes"

BACKGROUND_COMPARISON="yes"
NUMBER_CLEANUP="yes"
NUMBER_MIN_AGE="1800"
NUMBER_LIMIT="50"
NUMBER_LIMIT_IMPORTANT="10"

TIMELINE_CREATE="{{ rabble_snapper_configs[0].timeline_create | default('yes') }}"
TIMELINE_CLEANUP="yes"
TIMELINE_MIN_AGE="1800"
TIMELINE_LIMIT_HOURLY="{{ rabble_snapper_configs[0].timeline_limit_hourly | default('5') }}"
TIMELINE_LIMIT_DAILY="{{ rabble_snapper_configs[0].timeline_limit_daily | default('7') }}"
TIMELINE_LIMIT_WEEKLY="{{ rabble_snapper_configs[0].timeline_limit_weekly | default('4') }}"
TIMELINE_LIMIT_MONTHLY="{{ rabble_snapper_configs[0].timeline_limit_monthly | default('6') }}"
TIMELINE_LIMIT_YEARLY="{{ rabble_snapper_configs[0].timeline_limit_yearly | default('2') }}"

EMPTY_PRE_POST_CLEANUP="yes"
EMPTY_PRE_POST_MIN_AGE="1800"
